*{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
ol{
    list-style: none;
}

#sidebar li a {
    font-size: 1.6em;
    text-decoration: none;
    color: #133337;
}
#sidebar a:hover{
    opacity: 0.5;
    text-decoration: none;
}
.card-title{
    font-weight: 500;
}
.container{
    position: relative;
}
#sidebar{
    position: fixed;
    top: calc(100%-56px);
    left:0px;
    z-index: 99;
}
#backTop{
    position: fixed;
    bottom:50px;
    right:50px;
    z-index: 99;
}
#backTop img{
    width: 20px;
}
.navbar-brand img {
    width: 40px;
}
.navbar-brand img{
    margin-right: 20px;
}
.mobileHide{display: none;}

.btn.btn-success a{
    color:white;
    text-decoration: none;
}
.btn.btn-success{
    background-color: #98D3B8;
    border-color:#98D3B8;
}
.btn.btn-success:hover{
    background-color: rgb(88, 155, 125);
    border-color:rgb(88, 155, 125);
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 988px) {
    section#sidebar{
        display: none;
        position: relative;
     }
    .mobileHide{
            display:inline-block;
    }
}
 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) { 
    section#sidebar{
        display:none;
     }
 }


